[run]
omit=
    venv
    */python?.?/*
    */site-packages/*
    .tox/*
    static
    site_assets/*
    src/*
    /**/migrations*
include=
    pyactionnetwork/*
branch = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__

[html]
directory = htmlcov
